@import 'variable';
.test {
    font-size: 1rem;
}
h1,
h2 {
    color: red;
}
div.col-sm-6.col-lg-4{
    padding-bottom: 20px;
}
.user-avt{
    width: 20px;
    height: 20px;
    border-radius: 15px;
    margin-right: 4px;
}