<div class="mt-4">
    <form method="post" action="/courses/store">
    <legend><h3>Đăng Khóa Học</h3></legend>
    <div class="mb-3">
      <label for="TextInput" class="form-label">Tên Khóa Học</label>
      <input type="text" id="name" class="form-control" name="name" placeholder="Nhập tên khóa học...">
    </div>
    <div class="mb-3">
      <label for="TextInput" class="form-label">Hình ảnh Clip</label>
      <input type="text" id="img" class="form-control" name="img" placeholder="Nhập link hình ảnh...">
    </div>
    <div class="mb-3">
      <label for="TextInput" class="form-label">id video giảng dạy</label>
      <input type="text" id="vid" class="form-control" name="vid" placeholder="Nhập link video...">
    </div>
    <div class="mb-3">
        <label for="FormControlTextarea1" class="form-label">Nhập Mô Tả</label>
        <textarea class="form-control" id="decribe" name="decribe" rows="3"></textarea>
    </div>
        <button type="submit" class="btn btn-primary">Khởi Tạo</button>
    </form>
</div>