<div class="banner-container">
    <div class="banner">
        <img class="img-fluid banner-img" src="https://cdn.tgdd.vn/Files/2017/10/30/1037058/9-cong-dung-va-han-che-cua-ca-chua-doi-voi-cuoc-song-hang-ngay-202103142026330054.jpg" alt="Banner Image">
        <div class="content">
            <h2>Xác Định Giai Đoạn và Thống Kê Cà Chua</h2>
            <p>Tiện Lợi-Nhanh Chóng-Hữu Ích</p>
            <a href="/toto/predict" class="btn btn-primary">Xem Ngay</a>
        </div>
    </div>
    <div class="banner">
        <img class="img-fluid banner-img" src="https://hatgionglamson.com/asset/upload/image/ca-chua-bi-xoan-la.jpg" alt="Banner Image">
        <div class="content">
            <h2>Hỗ Trợ Phát Hiện Bệnh Trên Lá</h2>
            <p>Tiện Lợi-Nhanh Chóng-Hữu Ích</p>
            <a href="/diase/predict" class="btn btn-primary">Xem Ngay</a>
        </div>
    </div>
</div>

<style>
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .banner-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .banner {
        position: relative;
        text-align: center;
        color: white;
        width: 50%;
        margin: 0;
        padding: 10px;
    }

    .banner-img {
        width: 40vw;
        height: 90vh;
        object-fit: cover;
        opacity: 0.5;
    }

    .banner .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(20, 109, 12);
        text-align: center;
    }

    .banner .btn {
        background-color: #007bff;
        border-color: #007bff;
        color: white;
    }

    .banner .btn:hover {
        background-color: #0056b3;
        border-color: #004085;
    }

    .mt-4 {
        margin-top: 0 !important;
    }
</style>
