<div class="mt-10">
<form method="post" action="">
<div class="mb-3">
  <label for="search-input" class="form-label">tu khoa</label>
  <input type="text" class="form-control" name="q" id="search-input" placeholder="Tim Kiem">
  <div class="col-auto" >
    <select name="gender" class="form-control" id="gender-select">
      <option>Nam</option>
      <option>Nu</option>

    </select>
  </div>
</div>
 <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">search</button>
  </div>
  
  </form>
</div>